
Unity - Group project/unity class/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Unity - Group project/unity class/Logs/AssetImportWorker1.log
Unity - Group project/unity class/Logs/AssetImportWorker0.log
